package components

templ SubmitButton() {
	<style>
.components-submit-button{padding:15px;height:60px;background-color:var(--color-primary);border-radius:20px;color:var(--color-white)}.components-submit-button:hover{background-color:var(--color-primary-hover)}
</style>
	<button class="components-submit-button">
		{ children... }
	</button>
}
