package components

templ Subtitle(subtitle string) {
	<style>
.components-subtitle{font-weight:400;font-size:18px;line-height:100%;letter-spacing:0;text-align:center;color:var(--color-white)}
</style>
	<h2 class="components-subtitle">{ subtitle }</h2>
}
