package components

templ Title2(title string) {
	<style>
.components-title2{font-weight:700;margin:40px auto;color:var(--color-black);font-size:50px;text-align:center}
</style>
	<h2 class="components-title2">{ title }</h2>
}
