package components

templ Title(title string) {
	<style>
.components-title{font-weight:700;font-size:70px;line-height:80px;text-align:center;color:var(--color-white);margin:50px auto}
</style>
	<h1 class="components-title">{ title }</h1>
}
